#perfil_perfil{
    border: solid #424549 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    font-size: 1vw;
    padding: 0 1vw 0 1vh;
 
    
}
#perfil_Editperfil{
    border: solid black 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    background-color: #3B3E42;
    padding: 0 3.76vw 0 1vh;
    font-size: 1vw;
    margin: 1vh 0 1vh 0;

}
#perfil_seguranca{
    border: solid #424549 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    font-size: 1vw;
    padding: 0 3.76vw 0 1vh;
    
    margin: 0 ;
  
}
#sair{
    border: solid  #424549 2px;
    border-radius: 1vh 1vh 1vh 1vh;
    font-size: 1vw;
    padding: 0 3.76vw 0 1vh;
    margin-top: 0.5vw;
  
}

.collapsible{
    margin-left: 35vw;
    width: 40vw;
    margin-top: 13vh;
    color: aliceblue;
    border-color: black;
    background-color: #3B3E42;
    text-align: center;
    
}
.collapsible-header{
background-color: rgba(165, 151, 151, 0.822);
color: rgb(15, 15, 15);
border-color: black;
font-weight: bold;
justify-content: center;

}
#separator{
    margin-bottom: 2vw;
}
.collapsible-body{
    border-color: black;
    text-align: center;
    justify-content: center;
}
#imgPerf{
    margin: 3vh 0 1vh 0;
    border: 1px solid black;
}
.btnSub{
    border: 1px solid black;
    background-color:  #9b9a9a;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}
.inputModif{
    color: aliceblue;
    text-align: center;
}
#lblArq {
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

#tituDesc{
    margin-top: 0;
}
#imgAlterar{
    width: 100px;
    margin-top: 4.3vh;
}
.jogosFav{
   
    color: rgb(236, 236, 236);
    
}
.select-wrapper input.select-dropdown{
    color: aliceblue;
}
#JogosFavoritos{
    text-align: center;
}